 /* .body {

     margin-top: 63px;
 } */



 .logo {
     display: inline-block;
     margin-top: 63px;
     text-decoration: none;
     color: #000;
     text-align: center;
     font-family: Roboto;
     font-size: 80px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;

 }

 .chage_color {
     color: #4BCAFF;

 }

 .header {
     width: 1280px;
     /* margin-top: 63px; */
     margin: auto;
 }

 .nav-menu {
     text-align: center;
     margin: auto;
     background-color: #35444F;
     margin-bottom: 49px;
     margin-top: 38px;
 }

 .nav-menu_list {
     display: inline-block;
     background-color: #35444F;


 }


 .header_link {
     display: inline-block;
     padding-top: 24px;
     padding-bottom: 18px;
     text-decoration: none;
     color: #FFF;
     font-family: Roboto;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;

 }


 .link1 {
     padding-left: 32px;
     padding-right: 32px;
     border-left: 1px solid #FFFFFF;
 }


 .link2 {

     padding-left: 38px;
     padding-right: 38px;
     border-left: 1px solid #FFFFFF;
     border-right: 1px solid #FFFFFF;
 }

 .link2:hover {
     background-color: #222F3A;

 }

 .link3 {

     padding-left: 40px;
     padding-right: 40px;
     border-right: 1px solid #FFFFFF;
 }

 .link4 {

     padding-left: 40px;
     padding-right: 18px;
     border-right: 1px solid #FFFFFF;
 }

 .main {
     width: 1280px;
     margin-left: 98px;
     margin-bottom: 54px;

 }

 .aside_nav {
     display: flex;
     width: 106px;
     height: 27px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-shrink: 0;

 }

 .main {
     display: flex;
     justify-content: space-between;
     margin: auto;
 }






 .img {
     display: flex;
     background: rgba(0, 0, 0, 0.00);
     flex-direction: column;
     width: 885px;
     justify-content: end;
     margin-bottom: 54px;
 }

 .main_img {
     border: 1px solid #000;
     padding: 75px 268px 73px 297px;
     margin-bottom: 37px;

 }

 .aside {
     display: flex;
     justify-content: space-between;

 }

 .aside_nav {


     width: 344px;
     height: 399px;
     border: 1px solid #000;
     background: rgba(0, 0, 0, 0.00);

 }

 .main_aside {
     text-decoration: none;
     display: block;
     width: 344px;
 }

 .aside_list {
     text-decoration: none;
     color: #495863;
     font-family: Roboto;
     font-size: 27px;
     font-style: normal;
     font-weight: 400;
     line-height: 27px;

 }


 .aside_link {
     display: block;
     text-decoration: none;
     color: #495863;
     padding: 26px 0 26px 44px;


 }

 .aside_link2 {
     padding-bottom: 30px;
 }

 .aside_link1:hover {
     background: #DBDBDB;
     color: #000;
     padding-left: 69px;

 }



 .text {
     width: 885px;
     color: #2C2C2C;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;

 }

 .text1 {
     margin-bottom: 13px;
 }

 .footer {
     display: flex;
     width: 1280px;
     height: 69px;
     margin: auto;
     background: rgba(99, 105, 110, 0.48);
 }

 .footer_nav {
     margin: 20px 135px 21px 40px;
     width: 875px;
     display: flex;
     justify-content: space-between;

 }

 .footer_list {
     color: #0C1927;
     font-family: Roboto;
     font-size: 28px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
 }

 .footer_link {
     text-decoration: none;
     color: #0C1927;
 }

 .chage_color_footer:hover {
     color: #3181A6;
     border-bottom: 1px solid #3181A6;
 }



 .footer_info {
     color: #010101;
     font-family: Roboto;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     margin: 20px 23px 21px 0;


 }